<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tareas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<style>
    .tachado{
        text-decoration:line-through;
    }
</style>
<body>
    
    <div id="app">
        <div class="container mt-5 p-4">
            <h1 class="text-center">{{title}}</h1>
            <div class="p-2">
                <form action="" v-on:submit="addT">
                    <input type="text" id="name" v-model="newTarea.name">
                    <button class="btn btn-primary" type="submit">Add</button>
                </form>
            </div>
            <table class="table table-borderless text-center">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Tarea</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for='(tarea,index) of tareas'>
                  
                    <td><input type="checkbox" v-model="tarea.isChecked"></td>
                    <td :class="{tachado : tarea.isChecked }">{{tarea.name}}</td>
                    <td><button class="btn btn-danger" @click="deleteT(tarea)">Eliminar</button></td>
                  </tr>
                 
              
                </tbody>
              </table>

        </div>
    </div>

    <script>
        Vue = new Vue({
            el:'#app',
            data:{
                title:'Lista de tareas',
                tareas:[{name:'Tarea 2', isChecked: false},{name:'Tarea 1', isChecked: false}],
                newTarea:{
                    name:'',
                    isChecked: false
                }
            },
            methods: {
                deleteT(tarea){
                    console.log(tarea)
                   this.tareas.pop(tarea);
                },
                addT:function(e){
                    e.preventDefault();
                    this.tareas.push({name: this.newTarea.name, isChecked: this.newTarea.isChecked})
                    this.newTarea.name= '';
                },
               
            },
        })
    </script>
</body>
</html>